# Semana03
Antonella Bravo Ames

Temas: 
    1. NÃºmeros
    2. Variables
    3.  Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. Variables

In [13]:
#siempre...

In [14]:
edad = 19

In [15]:
edad

19

In [16]:
nombre = "Antonela Brighit"

In [17]:
nombre

'Antonela Brighit'

In [18]:
apellido = "Bravo Ames"
apellido

'Bravo Ames'

In [19]:
nombrecompleto = nombre + apellido
nombrecompleto

'Antonela BrighitBravo Ames'

In [20]:
#para saber...
numero = 50
type(numero)

int

In [21]:
type(nombre)

str

In [22]:
type(talla)

NameError: name 'talla' is not defined

In [23]:
talla= 1.53
talla

1.53

In [24]:
type(talla)
talla

1.53

In [25]:
type(talla)

float

In [26]:
#convertir numero en cadena
numero = 100
cadena = str(numero)
cadena

'100'

In [27]:
type(cadena)

str

In [28]:
cadena= "50"
numero2 = int(cadena2)
numero2

NameError: name 'cadena2' is not defined

In [29]:
cadena2= "50"
numero2 = int(cadena2)
numero2

50

In [30]:
type(numero2)

int

In [31]:
#convertir cadena a decimal
cadena2 = "50"
numero2 = float(cadena)
numero2

50.0

In [32]:
type(numero2)

float

In [33]:
float

float